.homes{

  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;

}

.home{
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;


  &__img{
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    z-index: 5;
  }

  &__like{
    fill: $color-primary;
    width: 2rem;
    height: 2rem;
    grid-column: 2 / 3;
    grid-row: 2 / 1;
    justify-self: end;
    z-index: 10;

    margin: 1rem;

  }

  &__name{
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    background-color: $color-secondary;
    color: #fff;
    font-family: $font-display;
    text-align: center;

    padding: 1.25rem;
    font-size: 1.6rem;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    z-index: 10;

    transform: translateY(50%);
  }

  &__location, &__rooms{
    margin-top: 2.5rem;
  }


  &__location, &__rooms, &__area, &__price{
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;


    svg{
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }

    p{

    }

  }

  &__btn{
    grid-column: 1 / span 2;
  }
}