.realtors{
  background-color: $color-secondary;

  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  grid-row-gap: 2rem;
  align-content: center;
  justify-content: center;
  justify-items: center;

  @media only screen and (max-width: $bp-medium){
    grid-column: full-start / full-end;
  }


  &__list{
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;

    @media only screen and (max-width: $bp-medium){
      grid-template-columns: repeat(3,min-content max-content);
    }

    @media only screen and (max-width: $bp-small){
      grid-template-columns: min-content max-content;
    }

  }

  &__img{
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold{
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}