.sidebar{
  background-color: $color-primary;

  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;



  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-content: flex-end;
    align-items: center;
  }


}

.nav-btn{
  border-radius: 0;
  border: none;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;




  &::before, &::after{
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;

  }
  &::before{
    transform: translateY(-1.5rem);
  }
  &::after{
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::before{
      transform: translateY(-1.2rem);
    }
    &::after{
      transform: translateY(1.0rem);
    }
  }
}