%heading{
  font-family: $font-display;
  font-weight: 400;
  height: min-content;
}

.heading{

  &-1{
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;

  }

  &-2{
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light{
      color:$color-grey-light-1;
    }
    &--dark{
      color:$color-grey-dark-1;
    }

  }

  &-3{
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-primary;

  }

  &-4{
    @extend %heading;
    font-size: 1.9rem;

    &--light{
      color:$color-grey-light-1;
    }
    &--dark{
      color:$color-grey-dark-1;
    }

  }

}

.btn{

  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover{
    background-color: $color-primary-dark;
  }

}

.mb-hg{  margin-bottom: 8rem;}
.mb-lg{  margin-bottom: 4rem;}
.mb-md{  margin-bottom: 3rem;}
.mb-sm{  margin-bottom: 2rem;}